<div data-layer="Modal Confirmacion eliminar" style="width: 260px; height: 167px; position: relative; background: white; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.20); border-radius: 10px">
    <div data-layer="¿Estas seguro de eliminar?" style="left: 25px; top: 14px; position: absolute; color: black; font-size: 16px; font-family: Inter; font-weight: 700; word-wrap: break-word">¿Estas seguro de eliminar?</div>
    <div data-layer="div.option" style="width: 230px; height: 29px; left: 15px; top: 43px; position: absolute">
      <div data-layer="TEMA 1: ACTION POTENTIALS" style="left: 9px; top: 18px; position: absolute; color: #343434; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 28px; word-wrap: break-word">TEMA 1: ACTION POTENTIALS</div>
    </div>
    <div data-layer="div.buttons" style="width: 230px; height: 31px; left: 15px; top: 119px; position: absolute">
      <div data-layer="button.cancel" style="width: 110.39px; height: 31px; left: 0px; top: 0px; position: absolute; background: #6200EA; border-radius: 89px">
        <div data-layer="Cancelar" style="left: 28.52px; top: 8px; position: absolute; color: white; font-size: 13.33px; font-family: Inter; font-weight: 400; word-wrap: break-word">Cancelar</div>
      </div>
      <div data-layer="button.share" style="width: 110.39px; height: 31px; left: 120.39px; top: 0px; position: absolute; background: #EA0000; border-radius: 89px">
        <div data-layer="Eliminar" style="left: 28px; top: 8px; position: absolute; color: white; font-size: 13.33px; font-family: Inter; font-weight: 700; word-wrap: break-word">Eliminar</div>
      </div>
    </div>
  </div>