<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../style/style.css">
</head>
<body>
  <div class="iphone-15">
    <div class="screen">
      <div class="dynamic-island"></div>
      
      <div class="settings-container">
        <div class="navigation-bar">
          <svg class="back-icon" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g transform="scale(-1, 1) translate(-16, 0)">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M3.34329 7.99728C3.34329 7.71062 3.44716 7.424 3.65445 7.20546L10.1809 0.328146C10.596 -0.109341 11.2691 -0.109341 11.6841 0.328146C12.0991 0.765455 12.0991 1.47462 11.6841 1.91215L5.90919 7.99728L11.6839 14.0824C12.0989 14.5199 12.0989 15.229 11.6839 15.6663C11.2689 16.104 10.5958 16.104 10.1807 15.6663L3.65425 8.7891C3.44692 8.57045 3.34329 8.28383 3.34329 7.99728Z" fill="#343434"/>
            </g>
          </svg>
          <div class="page-title">Configuración</div>
        </div>        
        
        <!-- Notifications Section -->
        <div class="section">
          <div class="section-title">Notificaciones Personalizadas</div>
          
          <div class="row">
            <div class="row-label">Por Eventos:</div>
            <div class="select select-wide">
              <span>Apuntes Relacionados</span>
              <img class="dropdown-icon" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABdSURBVHgBvYyxCsAgDERv6+on9FMc+oVdC6107dy9Q3f9I71ABAdBFz14yXE5AoyU7extMgI5GsWLeDFGzU2WStHp3eRAzEv+IpT9kacs1r6suh0a2kkkJzplMVUJw6AO9oX8AdMAAAAASUVORK5CYII=">
            </div>
          </div>
          
          <div class="row">
            <div class="row-label">Modo Normal:</div>
            <div class="select">
              <span>9-19 HRS</span>
            </div>
          </div>
          
          <div class="row">
            <div class="row-label">Modo No Molestar:</div>
            <div class="select">
              <span>20-8 HRS</span>
            </div>
          </div>
          
          <div class="row">
            <div class="row-label">Modo de Estudio Intensivo:</div>
            <div class="button">
              <span>Activar</span>
              <img class="dropdown-icon" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABdSURBVHgBvYyxCsAgDERv6+on9FMc+oVdC6107dy9Q3f9I71ABAdBFz14yXE5AoyU7extMgI5GsWLeDFGzU2WStHp3eRAzEv+IpT9kacs1r6suh0a2kkkJzplMVUJw6AO9oX8AdMAAAAASUVORK5CYII=">
            </div>
          </div>
        </div>
        
        <!-- System Functionalities Section -->
        <div class="section">
          <div class="section-title">Funcionalidades del Sistema</div>
          
          <div class="row">
            <div class="row-label">Talkback:</div>
            <div class="select">
              <span>Activado</span>
              <img class="dropdown-icon" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABdSURBVHgBvYyxCsAgDERv6+on9FMc+oVdC6107dy9Q3f9I71ABAdBFz14yXE5AoyU7extMgI5GsWLeDFGzU2WStHp3eRAzEv+IpT9kacs1r6suh0a2kkkJzplMVUJw6AO9oX8AdMAAAAASUVORK5CYII=">
            </div>
          </div>
          
          <div class="row">
            <div class="row-label">Corrección de Color:</div>
            <div class="select">
              <span>Desactivado</span>
              <img class="dropdown-icon" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABfSURBVHgBvYyxDcAgDASdASIxQkahzJJJqDJAFkiTKg1iInhLtmTRQAMvHX6Zk4lGxnd6Oz8JnA3xApGLk3KDtZIWEOTf6ZLLC36z5PmBx4o2emWTGaiRA+QeUeNpagr91w8xLcNAkAAAAABJRU5ErkJggg==">
            </div>
          </div>
          
          <div class="row">
            <div class="row-label">Tamaño de letra:</div>
            <div class="select">
              <span>60%</span>
            </div>
          </div>
          
          <div class="row">
            <div class="row-label">Modo oscuro:</div>
            <div class="select">
              <span>Desactivado</span>
              <img class="dropdown-icon" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABdSURBVHgBvYyxCsAgDERv6+on9FMc+oVdC6107dy9Q3f9I71ABAdBFz14yXE5AoyU7extMgI5GsWLeDFGzU2WStHp3eRAzEv+IpT9kacs1r6suh0a2kkkJzplMVUJw6AO9oX8AdMAAAAASUVORK5CYII=">
            </div>
          </div>
        </div>
        
        <!-- Auto-save Section -->
        <div class="section">
          <div class="section-title">Autoguardado</div>
          
          <div class="row">
            <div class="row-label">Google Drive:</div>
            <div class="select">
              <span>Desactivado</span>
              <img class="dropdown-icon" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABdSURBVHgBvYyxCsAgDERv6+on9FMc+oVdC6107dy9Q3f9I71ABAdBFz14yXE5AoyU7extMgI5GsWLeDFGzU2WStHp3eRAzEv+IpT9kacs1r6suh0a2kkkJzplMVUJw6AO9oX8AdMAAAAASUVORK5CYII=">
            </div>
          </div>
          
          <div class="row">
            <div class="row-label">Microsoft Drive:</div>
            <div class="select">
              <span>Activado</span>
              <img class="dropdown-icon" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABdSURBVHgBvYyxCsAgDERv6+on9FMc+oVdC6107dy9Q3f9I71ABAdBFz14yXE5AoyU7extMgI5GsWLeDFGzU2WStHp3eRAzEv+IpT9kacs1r6suh0a2kkkJzplMVUJw6AO9oX8AdMAAAAASUVORK5CYII=">
            </div>
          </div>
          
          <div class="delete-button">
            Eliminar Cuenta
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>