<div data-layer="div.item" style="width: 360px; height: 256px; position: relative; background: #FAFAFA; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 10px">
    <div data-layer="h2" style="width: 374px; height: 24px; left: 5px; top: 34px; position: absolute">
      <div data-layer="Exportando..." style="width: 166px; height: 30px; left: 10px; top: 1px; position: absolute; color: #7D00FF; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">Exportando...</div>
      <div data-layer="h2" style="width: 374px; height: 24px; left: 205px; top: -12px; position: absolute"></div>
    </div>
    <div data-layer="h2" style="width: 374px; height: 24px; left: 23px; top: 128px; position: absolute">
      <div data-layer="h2" style="width: 374px; height: 24px; left: 205px; top: -12px; position: absolute"></div>
    </div>
    <div data-layer="Esto puede tomar varios minutos" style="width: 317px; left: 20px; top: 140px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">Esto puede tomar varios minutos</div>
    <div data-layer="div.progress-container" style="width: 330px; height: 18px; left: 15px; top: 103px; position: absolute; background: #DDDDDD; overflow: hidden; border-radius: 25px">
      <div data-layer="Frame" style="width: 1px; height: 30px; left: 0px; top: 0px; position: absolute; background: #4CAF50"></div>
    </div>
    <div data-layer="div.progress-container" style="width: 170px; height: 18px; left: 15px; top: 103px; position: absolute; background: #7D00FF; overflow: hidden; border-radius: 25px">
      <div data-layer="Frame" style="width: 0.52px; height: 30px; left: 0px; top: 0px; position: absolute; background: #4CAF50"></div>
    </div>
    <div data-layer="Rectangle 1085" style="width: 137px; height: 44px; left: 200px; top: 188px; position: absolute; background: #FF1A00; border-radius: 17px"></div>
    <div data-layer="Cancelar" style="left: 231px; top: 200px; position: absolute; color: white; font-size: 17px; font-family: Inter; font-weight: 700; word-wrap: break-word">Cancelar</div>
  </div>